/**
 * 日期插件	
 */
div.calendar {
    z-index: 3001;
    position: absolute;
    left: -999999px;
}

.calendar .hilite {
    cursor: pointer
}

.calendar, .calendar table {
    font-size: 12px;
    color: #000;
    cursor: default;
    background: #fff;
    font-family: tahoma, verdana, 'microsoft yahei' sans-serif;
    position: relative
}

.calendar {
    background: #fff
}

.calendar table {
    border-collapse: collapse;
    bottom: 3px;
    right: 3px
}

.calendar .button {
    text-align: center;
    padding: 2px;
    cursor: pointer
}

.calendar .nav {
    background-color: #039be5
}

.calendar thead .title {
    font-weight: bold;
    text-align: center;
    background: #fff;
    color: #000;
    padding: 5px 10px
}

.calendar thead tr, .calendar thead .title {
    background: #039be5;
    color: #fff
}

.calendar thead .headrow {
    background: #039be5
}

.calendar thead .daynames {
    background: #daeaf7;
    padding: 5px 0
}

.calendar thead .name {
    padding: 10px 8px;
    text-align: center;
    color: #000
}

.calendar thead .weekend {
    color: #000
}

.calendar thead .hilite {
    opacity: 0.5
}

.calendar thead .active {
    background-color: #77c
}

.calendar tbody {
    border: 1px solid #039be5;
    border-width: 0 1px
}

.calendar tbody .day {
    color: #222;
    text-align: center;
    padding: 6px 8px
}

.calendar tbody .day.calendardisabled {
    color: #999999;
    cursor: default
}

.calendar tbody .day.othermonth {
    font-size: 80%;
    color: #bbb
}

.calendar tbody .day.othermonth.oweekend {
    color: #fff
}

.calendar table .wn {
    padding:;
    color: #999
}

.calendar table thead tr td.wn {
    background: #daeaf7
}

.calendar table tbody tr td.wn {
    background: #f6f6f6
}

.calendar tbody .rowhilite td {
    background: #f6f6f6
}

.calendar tbody .rowhilite td.wn {
    background: #f6f6f6
}

.calendar tbody td.hilite {
    background: #039be5;
    color: #fff
}

.calendar tbody td.active {
    background: #cde
}

.calendar tbody td.selected {
    background: #039be5;
    color: #fff
}

.calendar tbody td.weekend {
    color: #666
}

.calendar tbody td.weekend:hover {
    color: #fff
}

.calendar tbody td.today {
    font-weight: bold;
    color: #fff
}

.calendar tbody .disabled {
    color: #999
}

.calendar tbody .emptycell {
    visibility: hidden
}

.calendar tbody .emptyrow {
    display: none
}

.calendar tfoot .footrow {
    text-align: center;
    background: #5082b7;
    color: #fff
}

.calendar tfoot .ttip {
    background: #f6f6f6;
    color: #445;
    border: 1px solid #039be5;
    border-top: none
}

.calendar tfoot .hilite {
    background: #fff;
    border: 1px solid #04f;
    color: #000;
    padding: 1px
}

.calendar tfoot .active {
    background: #77c;
    padding: 2px 0 0 2px
}

.calendar .combo {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 4em;
    cursor: default;
    border: 1px solid #655;
    background: #def;
    color: #000;
    font-size: 90%;
    z-index: 100
}

.calendar .combo .label, .calendar .combo .label-IEfix {
    text-align: center;
    padding: 1px
}

.calendar .combo .label-IEfix {
    width: 4em
}

.calendar .combo .hilite {
    background: #acf
}

.calendar .combo .active {
    border-top: 1px solid #46a;
    border-bottom: 1px solid #46a;
    background: #fff;
    font-weight: bold
}

.calendar div.partWrapper {
    float: left;
    display: inline-block;
    height: 20px;
    max-height: 20px;
    _overflow: hidden;
    padding: 0 3px
}

.calendar div.partWrapper select {
    position: relative
}

.calendar span.colon {
    float: left
}

.calendar td.time {
    border-top: 1px solid #93bcd8;
    padding: 1px 0;
    text-align: center;
    background-color: #daeaf7
}

.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
    padding: 0 3px 0 4px;
    border: 1px solid #889;
    font-weight: bold;
    background-color: #fff
}

.calendar td.time select.hour, .calendar td.time select.minute {
    padding-right: 0;
    font-weight: normal
}

.calendar td.time .ampm {
    text-align: center
}

.calendar td.time .colon {
    padding: 0 2px 0 3px;
    font-weight: bold
}

.calendar td.time span.hilite {
    border-color: #065c95;
    background-color: #5082b7;
    color: #fff
}

.calendar td.time span.active {
    border-color: #f00;
    background-color: #000;
    color: #0f0
}

.calendar thead {
    border: 1px solid #039be5;
    border-bottom: none;
}